<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<div class="container">
    <h1>Главная страница</h1>
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Milk</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Bread</td>
        </tr>
        </tbody>
    </table>
</div>
    <br>
    <p>
        <q>Все права защищены</q>
    </p>

</body>

</html>